body{
	font-size:20px;
	font-family: sans-serif;
}

img{
	position:absolute;
    top:35%;
    margin-left:600px;
    clear:both;
}


.initial{
    margin-top: 10%;
	color:#fff;
	text-indent:50px;

}

#box1{
    background-color: green;
	margin-bottom: 5px;
	margin-left:400px;
	width:150px;
	float:left;
	padding:10px 5px;
}

#box2{
	background-color: red;
    float:left;
    width:150px;
    padding:10px 5px;
}

#box3{
	background-color: green;
	float:left;
	width:150px;
	padding:10px 5px;
}

#box4{
	background-color: red;
	margin-left:880px;
	width:150px;
	padding:10px 5px;
}

#box1:hover{
	background-color:black;
}

#box2:hover{
	background-color:black;
}

#box3:hover{
	background-color:black;
}

#box4:hover{
	background-color:black;
}


#money{
	margin-left:720px;
	margin-top:80px;
	width:60px;
	height:25px;
}